<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">  
      
<configuration>  

	<settings> 
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
    <!-- 全局别名设置，在映射文件中只需写别名，而不必写出整个类路径  -->  
    <typeAliases>    
         <typeAlias type="com.it.elec.model.Person" alias="Person"/>  
         <typeAlias type="com.it.elec.model.ElecosUser" alias="ElecosUser"/>  
         <typeAlias type="com.it.elec.model.ElecosPopedom" alias="ElecosPopedom"/>
         <typeAlias type="com.it.elec.model.ElecosSystemDDL" alias="ElecosSystemDDL"/>
         <typeAlias type="com.it.elec.model.ElecosRole" alias="ElecosRole"/>
         <typeAlias type="com.it.elec.model.ElecosRolePopedom" alias="ElecosRolePopedom"/>
         <typeAlias type="com.it.elec.model.ElecosUserRole" alias="ElecosUserRole"/>
         <typeAlias type="com.it.elec.model.ElecCommonMsg" alias="ElecCommonMsg"/>
    </typeAliases>     
    <mappers>  
        <mapper resource="com/it/elec/mapping/PersonMapper.xml" />  
        <mapper resource="com/it/elec/mapping/ElecosUserMapper.xml" />  
        <mapper resource="com/it/elec/mapping/ElecosPopedomMapper.xml"/>
        <mapper resource="com/it/elec/mapping/ElecosSystemDDLMapper.xml"/>
        <mapper resource="com/it/elec/mapping/ElecosRoleMapper.xml"/>
        <mapper resource="com/it/elec/mapping/ElecosRolePopedomMapper.xml"/>
        <mapper resource="com/it/elec/mapping/ElecosUserRoleMapper.xml"/>
        <mapper resource="com/it/elec/mapping/ElecosCommonMsgMapper.xml"/>
    </mappers>

</configuration> 