<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="com.it.elec.dao.ElecosUserRoleDao">

<resultMap id="baseResultMap" type="ElecosUser">
  <id property="userId"  column="user_id"/>
  <result property="userName" column="user_name"/>
  <result property="logonName" column="logon_name"/>
  <result property="logonPwd" column="logon_pwd"/>
</resultMap>
	<!--find mid&pid by roleId  -->
	<select id="findUserListByRoleId" resultMap="baseResultMap">
	select t_u.user_id ,t_u.user_name,t_u.logon_name,t_u.logon_pwd
		from user_role t_ur inner join elecos_user t_u
	on t_u.user_id = t_ur.user_id
        where t_ur.role_id=#{roleId}
	</select>
	
	<!-- delete -->
	<delete id="delete">
		delete from user_role
		where role_id = #{roleId}
	</delete>
	
	<insert id="save">
		insert into user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="userId!=null "></if>
		
		</trim>
	
	</insert>
</mapper>