<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.elec.dao.ElecosUserDao">
<resultMap id="baseResultMap" type="ElecosUser">
  <id property="userId"  column="user_id"/>
  <result property="jctId" column="jct_id"/>
  <result property="userName" column="user_name"/>
  <result property="logonName" column="logon_name"/>
  <result property="logonPwd" column="logon_pwd"/>
  <result property="sexId" column="sex_id"/>
  <result property="birthday" column="birthday"/>
  <result property="address" column="address"/>
  <result property="email" column="email"/>
  <result property="mobile" column="mobile"/>
  <result property="isDuty" column="is_duty"/>
  <result property="postId" column="post_id"/>
</resultMap>
<sql id="baseColumn">
user_id,jct_id,user_name,logon_name, logon_pwd,  sex_id  ,birthday ,address, email ,mobile, is_duty, post_id
</sql>


    <!-- 条件查询用户 -->
    <select id="findUserByUsername" resultMap="baseResultMap">
    	select * from elecos_user 
    	where logon_name = #{logonName}
    </select>
    
    <select id="findUsers" resultMap="baseResultMap">
    	select <include refid="baseColumn"/> from elecos_user
    </select>
    
    <!-- 查询用户 -->
    <select id="listUsers" resultMap="baseResultMap">
    select <include refid="baseColumn"/>
    from elecos_user
    <trim prefix="where" prefixOverrides="and |or">
    <if test=" userId!=null and userId!=''">
     and user_id = #{userId ,jdbcType=INTEGER}
    </if>
    <if test=" jctId!=null and jctId!=''">
     and jct_id = #{ jctId,jdbcType=INTEGER}
    </if>
    <if test=" userName!=null and userName!=''">
     and user_name = #{userName ,jdbcType=VARCHAR}
    </if>
    <if test=" logonName!=null and logonName!=''">
     and logon_name = #{ logonName,jdbcType=VARCHAR}
    </if>   
    <if test=" logonPwd!=null and logonPwd!=''">
     and  logon_pwd= #{logonPwd ,jdbcType=VARCHAR}
    </if>
    <if test=" sexId!=null and sexId!=''">
     and sex_id = #{ sexId,jdbcType=INTEGER}
    </if>   
    <if test=" birthday!=null ">
     and birthday = #{ birthday,jdbcType=TIMESTAMP}
    </if> 
    <if test=" address!=null and address!=''">
     and address= #{address ,jdbcType=VARCHAR}
    </if> 
    <if test=" email!=null and email!=''">
     and email  = #{ email,jdbcType=VARCHAR}
    </if> 
    <if test=" mobile!=null and mobile!=''">
     and mobile = #{mobile ,jdbcType=VARCHAR}
    </if> 
    <if test=" isDuty!=null and isDuty!=''">
     and is_duty = #{isDuty ,jdbcType=INTEGER}
    </if> 
    <if test=" postId!=null and postId!=''">
     and post_id = #{postId ,jdbcType=INTEGER}
    </if>   
    
    <if test=" remark!=null and remark!=''">
     and remark = #{remark ,jdbcType=VARCHAR}
    </if> 
    <if test=" ondutyDate!=null ">
     and onduty_date = #{ondutyDate ,jdbcType=TIMESTAMP}
    </if> 
     <if test=" offdutyDate!=null ">
     and offduty_date = #{offdutyDate ,jdbcType=TIMESTAMP}
    </if> 
    
    
    <if test=" state!=null and state!=''">
     and post_id = #{state ,jdbcType=VARCHAR}
    </if> 
    
    <if test=" createTime!=null">
     and create_time  = #{ createTime,jdbcType=TIMESTAMP}
    </if> 
    <if test=" updateTime!=null">
     and update_time = #{updateTime ,jdbcType=TIMESTAMP}
    </if> 
    <if test=" jctUnitId!=null and jctUnitId!=''">
     and jct_unit_id = #{jctUnitId ,jdbcType=VARCHAR}
    </if> 
  
    </trim>
    </select>
    
    <!--保存用户  -->
    <insert id="saveUser" >
    	insert into elecos_user
    	<trim prefix="(" suffix=")" suffixOverrides=",">
    	
    	<if test="userId!=null and userId!=''">user_id,</if>
		<if test="jctId!=null and jctId!=''">jct_id,</if>
		<if test="userName!=null and userName!=''">user_name,</if>
		<if test="logonName!=null and logonName!=''">logon_name,</if>
		<if test="logonPwd!=null and logonPwd!=''">logon_pwd,</if>
		<if test="sexId!=null and sexId!=''">sex_id,</if>
		<if test="birthday!=null ">birthday,</if>
		<if test="address!=null and address!=''">address,</if>
		<if test="email!=null and email!=''">email,</if>
		<if test="contactTel!=null and contactTel!=''">contact_tel,</if>
		<if test="mobile!=null and mobile!=''">mobile,</if>
		<if test="isDuty!=null and isDuty!=''">is_duty,</if>
		<if test="postId!=null and postId!=''">post_id,</if>
		<if test="remark!=null and remark!=''">remark,</if>
		<if test="ondutyDate!=null ">onduty_date,</if>
		<if test="offdutyDate!=null">offduty_date,</if>
		<if test="state!=null and state!=''">state,</if>
		<if test="createTime!=null ">create_time,</if>
		<if test="updateTime!=null ">update_time,</if>
		<if test="jctUnitId!=null and jctUnitId!=''">jct_unit_id,</if>
    	</trim>
    
    	<trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId!=null and userId!=''">#{userId},</if>
            <if test="jctId!=null and jctId!=''">#{jctId},</if>
            <if test="userName!=null and userName!=''">#{userName},</if>
            <if test="logonName!=null and logonName!=''">#{logonName},</if>
            <if test="logonPwd!=null and logonPwd!=''">#{logonPwd},</if>
            <if test="sexId!=null and sexId!=''">#{sexId},</if>
            <if test="birthday!=null">#{birthday},</if>
            <if test="address!=null and address!=''">#{address},</if>
            <if test="email!=null and email!=''">#{email},</if>
              <if test="contactTel!=null and contactTel!=''">#{contactTel},</if>
            <if test="mobile!=null and mobile!=''">#{mobile},</if>
            <if test="isDuty!=null and isDuty!=''">#{isDuty},</if>
            <if test="postId!=null and postId!=''">#{postId},</if>

            <if test="remark!=null and remark!=''">#{remark},</if>
            <if test="ondutyDate!=null ">#{ondutyDate},</if>
            <if test="offdutyDate!=null">#{offdutyDate},</if>
            <if test="state!=null and state!=''">#{state},</if>
            <if test="createTime!=null ">#{createTime},</if>
            <if test="updateTime!=null">#{updateTime},</if>
            <if test="jctUnitId!=null and jctUnitId!=''">#{jctUnitId},</if>
    	</trim>
    </insert>
    
    <delete id="delete">
    	delete 
    	from elecos_user
    	where user_id = #{userId}
    </delete>
    
</mapper>